.nst-link-box{
    min-height: 150px;
}
.nst-full-col{
    width:100%;
    min-height: 150px;
}
.nst-split-col{
    width:50%;
    min-height: 150px;
    float: left;
}
.nst-link-box-item{
    padding-left: 10px;
}
.divider-line{
    margin-top: 0;
    clear: both;
}
.nst-link-box-title{
    padding: 0 10px;
}
